.mainParentContainer{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #F4F4F4;
    transition: all 0.5s ease;
    min-height: 100vh;
}
.filterMainContainer{
    height: 100%;
    width: 20%;
    position: sticky;
    top: 0px;
}
.reviewMainContainer{
    height: 100%;
    width: 80%;
}